@model Tp3.Models.ViewModels.PedidoIndexViewModel

@{
    ViewData["Title"] = "Lista de Pedidos";
}

<h1>VistaPedido</h1>

<p>
    <a asp-action="Create">Crear Nuevo Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Observaciones</th>
            <th>Estado</th>
            <th>Cadete</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pedidos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @if (item.Estado.Equals(SistemaCadeteria.Modelo.EstadoPedido.Ingresado))
                {
                    <form asp-action="asignarCadete">
                        <fieldset>
                            <input type="hidden" id="idPedido" name="idPedido" value="@item.Nro">
                            <select class="custom-select-sm" name="idCadete">
                                <option selected>Seleccionar</option>
                                @foreach (var cadete in Model.Cadetes)
                                {
                                    <option value="@cadete.Id">@cadete.Nombre</option>
                                }
                            </select>
                            <button type="submit" class="btn btn-sm btn-info">Asignar</button>
                        </fieldset>
                    </form>
                }
                else
                {
                    <form asp-action="asignarCadete">
                        <fieldset>
                            <input type="hidden" id="idPedido" name="idPedido" value="@item.Nro">
                            <select class="custom-select-sm" name="idCadete">
                                <option>Seleccionar</option>
                                @foreach (var cadete in Model.Cadetes)
                                {
                                    if (cadete.Id == item.IdCadete)
                                    {
                                        <option value="@cadete.Id" selected>@cadete.Nombre</option>
                                    }
                                    else
                                    {
                                        <option value="@cadete.Id">@cadete.Nombre</option>
                                    }
                                }
                            </select>
                            <button type="submit" class="btn btn-sm btn-info">Asignar</button>
                        </fieldset>
                    </form>
                }
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { idPedido = item.Nro }) | 
                @Html.ActionLink("Borrar", "EliminarPedido", new { idPedido = item.Nro })
            </td>
        </tr>
}
    </tbody>
</table>
