@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<SistemaCadeteria.Modelo.Cadete>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Pedidos</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Nombre</td>
            <td>@item.Direccion</td>
            <td>@item.Telefono</td>
            @*<td>@item.ListaPedido.Count()</td>*@
            <td>@Html.ActionLink("Pedidos", "MostrarPedido", "Pedido", new { id = item.Id }, new { @class = "btnagre" })</td>
            <td>@Html.ActionLink("Eliminar", "EliminarCadete", new { id = item.Id }, new { @class = "btnagre" })</td>
            <td>@Html.ActionLink("Modificar", "ModificarCadete", new { id = item.Id }, new { @class = "btnagre" })</td>
        </tr>
        }
    </tbody>
</table>

@*<form asp-action="AltaCadete" asp-controller="Home" method="post">
        <input type="submit" value="Agragar Nuevo Cadete" />
    </form>*@

<a class="link" asp-controller="Cadete" asp-action="AltaCadete">Agragar Nuevo Cadete</a>